* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    align-items: center;
    gap: 0.5em;

    list-style: none;
}

.title {

    font-size: 4rem;
}

p {

    text-align: center;
    border: 0.1rem solid black;
}